@use "./__photo/miniature-photo-btn__photo.scss";
@use "./__photo-name/miniature-photo-btn__photo-name.scss";
@use "./_display_none/miniature-photo-btn_display_none.scss";
@use "./_mark_current/miniature-photo-btn_mark_current.scss";

.miniature-photo-btn {
  border: 1px solid RGBA(0, 0, 0, 0);
  background: none;
  cursor: pointer;
  height: 100%;
  max-height: 100%;
  outline: none;

  transition: border 0.1s ease-in-out;
}

.miniature-photo-btn:hover {
  border: 1px solid RGBA(255, 255, 255, 0.5);
}
