@import url("./_displayed_none/img-gallery__overlay_displayed_none.css");

.img-gallery__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: RGBA(0, 0, 0, 0.75);

  padding: 10px;
  box-sizing: border-box;

  overflow: hidden;
}
