@use ("../body/body.css";
@use ("../exit-btn/exit-btn.css";
@use ("../navigation-btn/navigation-btn.css";
@use ("../flex/flex.css";
@use ("../miniature-photo-btn/miniature-photo-btn.css";
@use ("./__overlay/img-gallery__overlay.css";
@use ("./__photos-container/img-gallery__photos-container.css";
@use ("./__fullsize-photo-container/img-gallery__fullsize-photo-container.css";
@use ("./__fullsize-photo/img-gallery__fullsize-photo.css";
@use ("./__miniatures-photos-container/img-gallery__miniatures-photos-container.css";
@use ("./__exit-btn/img-gallery__exit-btn.css";
@use ("./__navigation-btn/img-gallery__navigation-btn.css";
@use ("./__md-navigation-btns/img-gallery__md-navigation-btns.css";

:root {
  --root-of-two: 1.4142;
  --icon-stripes-thickness: 2px;
}

.img-gallery {
  height: 100%;
}
