@use "./__stripe-wrapper/navigation-btn__stripe-wrapper.scss";
@use "./__stripe/navigation-btn__stripe.scss";

.navigation-btn {
  border: none;
  background-color: black;
  position: relative;

  padding: 10px 15px;
}
