@import url("./_display_none/img-gallery__miniature-photo-btn_display_none.css");

.img-gallery__miniature-photo-btn {
  border: 1px solid RGBA(0, 0, 0, 0);
  background: none;
  cursor: pointer;
  height: 100%;
  max-height: 100%;

  transition: border 0.1s ease-in-out;
}

.img-gallery__miniature-photo-btn:hover {
  border: 1px solid RGBA(255, 255, 255, 0.5);
}
