@use "./_first/exit-btn__stripe_first.scss";
@use "./_second/exit-btn__stripe_second.scss";

.exit-btn__stripe {
  background-color: white;
  position: absolute;
  width: calc(100% * var(--root-of-two));
  height: var(--icon-stripes-thickness);
}
